.home {
  display: grid;
  width: 100%;
  height: 100%;
  justify-items: center;
}

.items {
  max-width: 1000px;
  padding: 0 20px;
  display: grid;
  gap: 20px; /* Space between panels */
  overflow-y: auto; /* Enable vertical scrolling */
  grid-template-columns: repeat(1, 1fr);
  /*grid-template-rows: repeat(auto-fill, 1fr);*/
  /*grid-auto-flow: dense;*/
}

.item {
  display: block;
  height: 100%;
  text-decoration: none;
}

.item_title, .item_description, .post-meta, .header  {
  font-family: Inter, Helvetica Neue, Helvetica, sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15em;
  text-align: left;
  word-wrap: break-word;
}

.header {
  margin: 20px 0;
  font-size: 1.7rem;
}

.item_description, .post-meta {
  font-weight: normal;
  font-size: 1rem;
  color: #1A1919;
}

.item_title {
  font-weight: 800;
  font-size: 1.5rem;
  color: #1A1919;
}

.item_img {
  width: 100%;  /* Make the image responsive (it fills the width of the container) */
  object-fit: contain; /* Crop the image to fill the container without distortion */
  border-radius: 10px; /* Optional: Rounded corners for images */
}

/* Optional: Constrain image size on larger devices */
@media (min-width: 550px) {
  .items {
    display: grid;
    gap: 30px; /* Space between panels */
    overflow-y: auto; /* Enable vertical scrolling */
    grid-template-columns: repeat(2, 1fr);
    /*grid-template-rows: repeat(auto-fill, 1fr);*/
    /*grid-auto-flow: dense;*/
    /*grid-auto-rows: 430px; !* Базовая высота строки *!*/
  }
  .article_card_image img {
    max-width: 600px; /* Set max width for larger screens */
  }
}

@media (min-width: 850px) {
  .items {
    display: grid;
    gap: 30px; /* Space between panels */
    overflow-y: auto; /* Enable vertical scrolling */
    grid-template-columns: repeat(2, 1fr);
    /*grid-template-rows: repeat(auto-fill, 1fr);*/
    /*grid-auto-flow: dense;*/
    /*grid-auto-rows: 520px; !* Базовая высота строки *!*/
  }
  .article_card_image img {
    max-width: 800px; /* Set max width for even larger screens */
  }
}

/* Custom scrollbar styles (optional) */
.articles_list::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.articles_list::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background for the scrollbar track */
  border-radius: 8px; /* Rounded track corners */
}

.articles_list::-webkit-scrollbar-thumb {
  background: #888; /* Darker thumb for contrast */
  border-radius: 8px; /* Rounded scrollbar corners */
}

.articles_list::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker thumb on hover */
}
  