<!-- Custom Fonts -->
<style>
  @font-face {
    font-family: 'PekingDuck';
    src: url('{{ "/assets/fonts/Peking Duck DEMO.otf" | relative_url }}');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Asiana';
    src: url('{{ "/assets/fonts/Asiana.otf" | relative_url }}') format('opentype'),
         url('{{ "/assets/fonts/Asiana.ttf" | relative_url }}') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'MadeInChina';
    src: url('{{ "/assets/fonts/MadeInChina.ttf" | relative_url }}') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'SAMENT';
    src: url('{{ "/assets/fonts/SAMENTtrial.otf" | relative_url }}') format('opentype'),
         url('{{ "/assets/fonts/SAMENTtrial.ttf" | relative_url }}') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
</style>