---
layout: base
---

<article class="article__container">
  <h1 class="article__header_title">{{ page.title }}</h1>
  
  <!-- Post metadata -->
  <div class="post-meta">
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% if page.countries.size > 0 %}
      <span class="post-categories">
        {% for country in page.countries %}
          <a href="{{ '/countries/#' | append: country | relative_url }}" class="category">{{ country | capitalize }}</a>
        {% endfor %}
      </span>
    {% endif %}
    {% if page.tags.size > 0 %}
      <span class="post-tags">
        {% for tag in page.tags %}
          <a href="{{ '/tags/#' | append: tag | relative_url }}" class="tag">{{ tag }}</a>
        {% endfor %}
      </span>
    {% endif %}
  </div>
  
  <article class="article__content text" id="text">
    {{ content }}
  </article>
  
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>

<script>
  const storagePrefix = '{{ page.storage_prefix | default: site.data.site.image_storage.default_prefix }}';
  const prefixes = {{ site.data.site.image_storage.prefixes | jsonify }};
  const prefix = (prefixes[storagePrefix] || '').replace(':slug', '{{ page.slug }}');
  const images = document.getElementsByTagName('img');
  Array.from(images).forEach((img) => {
    const originalSrc = img.getAttribute('src');
    if (originalSrc.startsWith('http://') || originalSrc.startsWith('https://') || originalSrc.startsWith('/assets/')) {
      return;
    }
    img.src = prefix + originalSrc;
  });
</script>
