---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="header">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
  <div class="items">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
        <a class="item" href="{{ post.url | relative_url }}">
          {% assign preview_url = post.date | date: "/%Y/%m/%d/" | append: post.preview %}
          {{ post.preivew }}
          <img class="item_img" src="{{ post.preview }}">

          <h2 class="item_title">
            {{ post.title | escape }}
          </h2>
          <p class="item_description">
            {{ post.description | escape }}
          </p>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
        </a>

      {%- endfor -%}
    </div>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
